<div class="container">
  <h2>Members</h2>

  <p>
    The best gluten free experts on the web. 

    <button class="btn btn-primary btn-large login-button">
      <i class="fa fa-user"></i>
      Join the group
    </button>

  </p>
  
  {{#each user in users}}
    {{#link-to 'user' user}}
      {{avatar user imageSize="large"}}
    {{/link-to}}
    <p>
      {{#link-to 'user' user}}
        {{user.username}}
      {{/link-to}}
    </p>
  {{/each}}

</div>