<div class="container">
  <h2>wassup</h2>
  
  {{#each user in users}}
    {{#link-to 'user' user}}
      {{avatar user imageSize="large"}}
    {{/link-to}}
    <p>
      {{#link-to 'user' user}}
        {{user.username}}
      {{/link-to}}
    </p>
  {{/each}}

</div>